//== FONTS
$heading-font: "noto-sans","noto-sans-thai", sans-serif;
$heading-font-weight: 500;
$heading-line-height: 1.4;

$body-font: "noto-sans","noto-sans-thai", sans-serif;
$body-font-size: 16px;
$body-line-height: 1.625;

//== SPACE
$space-mobile: 20px;
$space-desktop: 30px;

//== HEADER
$site-header-text: #111;

//== MOBILE NAV
$site-nav-m-bg: #f00;
$site-nav-m-text: #fff;

//== MEMBER BUTTON 
$site-member-bg: #003c67;
$site-member-text: #fff;

//== BODY
$main-header-bg: #003c67; 
$main-header-text: #fff;
$body-color: #333;
$body-bg: #fff;
$link-color: #003c67;
$link-hover-color: #2196F3;
$link-active-color: #111;
$text-muted: #888;

//== FOOTER 
$site-footer-bg: #000;

$sky-blue:#0095eb;
$black-blue: #003c67;





