@import "variables";

/* == HEADER == */

.bg-ie {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 1255, 0.8);
  z-index: 999999;
}

#masthead {
  .container {
    max-width: 90%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
body.has-headbar .site-branding {
  display: none;
}
.site-header {
  transition: box-shadow 0.5s ease, background-color 0.5s ease;
  height: auto;
  position: absolute;
  &.active {
    height: 75px;
  }
}

.site-logo img {
  margin-top: 10px;
  height: 50px;
}
.site-title {
  line-height: 70px;
  margin-right: 15px;
  font-size: 24px;
}
.site-description {
  display: block;
  font-size: 14px;
  float: left;
  height: 70px;
  overflow: hidden;
  padding-top: 25px;
  margin: 0;
}
.site-nav-d {
  float: right;
  padding: 0;
}
.site-nav-d ul,
.head-widget .widget_nav_menu ul {
  margin: 0;
  padding-left: 0;
}
.site-nav-d li,
.head-widget .widget_nav_menu li {
  list-style: none;
  display: inline-block;
  font-size: 17px;
  position: relative;
  vertical-align: top;
}
.site-nav-d li .si-caret-down,
.site-nav-d li .si-arrow-down,
.site-nav-d li .si-chevron-down,
.site-nav-d li .si-angle-down,
.head-widget .widget_nav_menu .si-caret-down,
.head-widget .widget_nav_menu li .si-arrow-down,
.head-widget .widget_nav_menu li .si-chevron-down,
.head-widget .widget_nav_menu li .si-angle-down {
  font-size: 0.8em;
}

.site-nav-d li a {
  display: inline-block;
  height: 0;
  font-size: 16px;
  padding-top: 4px;
}
.head-widget .widget_nav_menu li a {
  display: block;
  padding: 14px 20px 12px 0;
}
.site-nav-d .sub-menu,
.site-nav-d .children,
.head-widget .widget_nav_menu .sub-menu {
  text-align: left;
  opacity: 0;
  height: 0;
  position: absolute;
  z-index: 1000;
  transform: translate(0, 5px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #fff;
  width: 220px;
}

.site-nav-d .sub-menu li,
.site-nav-d .children li,
.head-widget .widget_nav_menu .sub-menu li {
  display: block;
  font-size: 15px;
  padding: 0 12px;
  height: 0;
  overflow: hidden;
}
.site-nav-d .sub-menu li a,
.site-nav-d .children li a,
#page .head-widget .widget_nav_menu .sub-menu li a {
  height: auto;
  padding: 10px 0 8px;
  color: #222;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.site-nav-d li:hover > .sub-menu,
.site-nav-d li:hover > .children,
.head-widget .widget_nav_menu li:hover > .sub-menu {
  opacity: 1;
  height: auto;
  transform: translate(0);
}
.site-nav-d li:hover > .sub-menu li,
.site-nav-d li:hover > .children li,
.head-widget .widget_nav_menu li:hover > .sub-menu li {
  height: auto;
  overflow: initial;
}
.site-nav-d,
.head-widget .widget_nav_menu {
  .sub-menu .sub-menu {
    left: 220px;
    top: 0;
    overflow: hidden;
    &:hover {
      overflow: visible;
    }
    li:first-child > a {
      border-top-color: rgba(255, 255, 255, 0);
    }
  }
}
.site-nav-d .children .children {
  display: none;
}
@media (min-width: 1170px) {
  .site-nav-d li,
  .head-widget .widget_nav_menu li {
    font-size: 19px;
    display: block;
  }
}
//
//
/* == HEADER == */

.main-header {
  position: relative;
  height: 215px;
}

.top-bar-page {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
}

span.woocommerce-Price-amount.amount:hover {
  color: #fff;
  transition: 0.3s;
}

a.i-cart {
  &:hover {
    color: #fff;
    transition: 0.3s;
  }
}

#mega-menu-wrap-primary #mega-menu-primary[data-effect="fade_up"] {
  li.mega-menu-item.mega-menu-flyout {
    ul.mega-sub-menu {
      margin-top: 30px;
      right: -85%;
    }
  }
}

span.site-cart-number-d {
  display: inline;
  position: relative;
  padding-right: 10px;
  b#cart-count {
    position: absolute;
    bottom: 10px;
    right: -9px;
    padding: 0;
    margin-left: 0;
    font-size: 10px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    background-color: #f90c0c;
    color: #ffffff;
    top: -2px;
    left: 12px;
  }
}

span.p-subtotal-d {
  display: inline;
  position: relative;
  padding-right: 16px;
}

//
//
/* == BODY == */
.main-title {
  padding: 12px 0 10px;
  font-size: 36px;
}
.home-blog-space {
  height: 20px;
}
.content-pagination {
  margin-bottom: 30px;
}
/* FORM - Page Template */
body.page-template-page-form .site-content {
  @media (min-width: 992px) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.page-form {
  padding: 15px 25px 1px;
  max-width: 920px;
  .site.-header-desktop-overlay & {
    background-color: #fff;
    margin-top: -80px;
    position: relative;
  }
}
.xoo-el-form-container {
  padding: 30px;
  border: 1px solid #eee;
  margin: 0px 60px;
}

/* SINGLE - AUTHOR PROFILE */
.entry-author {
  margin-top: 50px;
  text-align: left;
  &.-head {
    margin-top: 30px;
    margin-bottom: 25px;
  }
  .pic {
    float: left;
  }
  .info {
    padding-left: 125px;
  }
}
/* COMMENTS */
.comments-area {
  margin-bottom: 30px;
}
.comment-form-author {
  float: left;
  width: 32%;
  margin-right: 2%;
}
.comment-form-email {
  float: left;
  width: 32%;
  margin-right: 2%;
}
.comment-form-url {
  float: left;
  width: 32%;
}

/* == SIDEBAR == */

/* COLUMNS */
.widget-area {
  &.-leftbar,
  &.-shopbar {
    float: left;
    width: 21.621622%;
  }
  &.-leftbar_solution,
  &.-leftbar_product {
    float: left;
    width: 21.621622%;
  }

  &.-rightbar {
    float: right;
    width: 27.027027%;
  }
}
.content-area {
  &.-leftbar,
  &.-shopbar {
    float: right;
    width: 78.378378%;
    padding-left: 30px;
    padding-right: 0;
  }
  &.-leftbar_solution,
  &.-leftbar_product {
    float: right;
    width: 78.378378%;
    padding-left: 30px;
    padding-right: 0;
  }
  &.-rightbar {
    float: left;
    width: 72.972973%;
    padding-right: 30px;
  }
}
.site.-shop-layout-leftbar .content-area.-shopbar {
  float: right;
  padding-left: 30px;
  padding-right: 0;
}
.site.-shop-layout-rightbar .content-area.-shopbar {
  float: left;
  padding-right: 30px;
  padding-left: 0;
}
.site.-shop-layout-full-width .content-area.-shopbar {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.site.-layout-boxed {
  .content-area {
    &.-leftbar {
      float: right;
      width: 70.270278%;
    }
    &.-rightbar {
      float: left;
      width: 70.27027%;
    }
  }
  .widget-area {
    &.-leftbar {
      float: left;
      width: 29.72973%;
    }
    &.-rightbar {
      float: right;
      width: 29.72973%;
    }
  }
}
/* 3 COLUMNS */
.wrap-leftrightbar {
  display: flex;
  .content-area {
    order: 2;
    width: 60.36036%;
    padding: 0 10px;
  }
  .widget-area.-leftbar {
    order: 1;
    width: 19.81982%;
    padding-right: 20px;
  }
  .widget-area.-rightbar {
    order: 3;
    width: 19.81982%;
    padding-left: 20px;
  }
}
/* WIDGET AREA */
.widget-area {
  border-top: none;
  padding: 0;
}

/************ checkout **************/

tr.tax-total td span {
  float: right;
}

.woocommerce-cart .tax-total td {
  float: left;
}
/************ K PAYMENT **************/

.woocommerce-order-pay {
  .content-area {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px 50px;
  }
  .woocommerce ul.order_details li {
    width: auto;
    margin-bottom: 16px;
  }
  ul.order_details {
    border: 1px solid #dfdfdf;
    padding: 10px 20px 0px;
    background: #fff;
    margin: 0 0 10px;
  }
  .pay-button[_kpayment] {
    width: 100%;
  }
  span.amount {
    font-weight: bold;
    font-size: 16px;
  }
}
